<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio1</title>
    <link rel="stylesheet" href="/static/ejercicio1.css">
</head>
<body>
    <div class="container">
        <h2>Cálculo de compras</h2>
        <form method="POST">
            <div class="form-group">
                <label for="nombre">Ingresa tu nombre</label><br>
                <input type="text" name="nombre" required><br>
            </div>
            <div class="form-group">
                <label for="edad">Ingresa tu edad</label><br>
                <input type="number" name="edad" required><br>
            </div>
            <div class="form-group">
                <label for="cantidad">Ingresa la cantidad de tarros de pintura a comrar</label><br>
                <input type="number" name="cantidad" required><br>
            </div>
            <div class="form-group">
            <input type="submit" value="Cálcular">
            </div>
        </form>


{% if nombre %}
<div class="resultado">
    <p>Nombre del cliente: {{ nombre }}</p>
    <p>Total sin descuento: {{ total_sin_descuento }}</p>
    <p>El descuento es: {{ descuento }}</p>
    <p>El total a pagar es de: {{ total_pagar }}</p>
</div>
{% endif %}

    </div>
</body>
</html>
