<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio1</title>
    <link rel="stylesheet" href="/static/ejercicio1.css">
</head>
<body>
    <div class="container">
        <h2>Inicio sesión</h2>
        <form method="POST">
            <div class="form-group">
                <label for="nombre">Ingresa tu nombre</label><br>
                <input type="text" name="nombre" required><br>
            </div>
            <div class="form-group">
                <label for="contrasena">Ingresa tu contraseña</label><br>
                <input type="text" name="contrasena" required><br>
            </div>
            <div class="form-group">
            <input type="submit" value="Verificar">
            </div>
        </form>

{% if mensaje is not none %}
        <p>{{ mensaje }}</p>
{% endif %}
    </div>
</body>
</html>
